body {
  height: 100%;
  width: 100%;
  text-align: center;

}
.header-menu  ul li a {
  color: black;
}
.footer-logo {
  max-width: 200px;
  height: auto;
}
.slider-title {
    font-size: 90px;
    line-height: 1.1;
    margin-bottom: 20px;
}
.features {
    padding: 35px 50px;
    transition: all 0.3s ease-out 0s;
    position: relative;
    color: white;
}

.home-about-title {
  font-size: 40px;
}
.home-about-sections {
  font-size: 20px;

}
.home-about-feature-list ul li:hover i {
    transform: rotateY(-180deg);
}
.home-about-feature-list ul li {
 list-style: none;
  font-size: 16px;
  font-weight: 500;
  padding-left: 35px;
  position: relative;
  margin-bottom: 30px;
  width: 50%;
  float: left;
  color: #000f2f;
}
.why {
  position: relative;
  text-align: center;
  color: #fff;
}
.why-bg {
  padding-top: 40px;
  padding-bottom: 40px; 
  background-image: url(../src/assets/why-bg.jpg);
}

.reasons {
  font-size: 36px;
  display: block;
  line-height: 1;


}
.separator {
  position: relative;
}

.separator::after {
  content: "";
  position: absolute;
  right: -20px;
  top: -20px;
  width: 1px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
}
.aboutUs-img {
  
  z-index: 1;
  margin-right: 0px;
}


.input-field {
  background-color: whitesmoke;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.input-field:focus {
  outline: none;
  border-color: #81d1f3;
  box-shadow: 0 0 5px rgba(127, 204, 252, 0.5);
}
.contact-us {
    padding: 45px 40px;
    padding-right: 70px;
    border-radius: 4px;
    background: white;
    box-shadow: 0px 30px 50px 0px rgba(1, 11, 60, 0.1);
    position: relative;
    z-index: 1;
}
.contact-info-text{
  text-align: justify;
}
.contact-info-text h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 7px;
}
.contact-info-text p {
  margin-bottom: 0;
}
.course-card {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
;
}
.card-img-top:hover {
  transform: (1.05, 1.05) rotate(2deg);
}

