body {
  height: 100%;
  width: 100%;
  text-align: center;

}
.header-menu  ul li a {
  color: black;
}
.footer-logo {
  max-width: 200px;
  height: auto;
}
.slider-title {
    font-size: 90px;
    line-height: 1.1;
    margin-bottom: 20px;
}
.features {
    height: 100%;
    padding: 35px 50px;
    transition: all 0.3s ease-out 0s;
    position: relative;
    color: white;
}

.home-about-title {
  font-size: 40px;
}
.home-about-sections {
  font-size: 20px;

}
.feature-icon {
  color: #333;
  transition: all 0.3s ease-out;
  transform-style: preserve-3d;
}

.feature-icon:hover {
   transform: rotateY(-180deg);
}

.home-about-feature-list ul li {
 list-style: none;
  font-size: 16px;
  font-weight: 500;
  padding-left: 35px;
  position: relative;
  margin-bottom: 30px;

  float: left;
  color: #000f2f;
}
.why {
  position: relative;
  text-align: center;
  color: #fff;
}
.why-bg {
  padding-top: 40px;
  padding-bottom: 40px; 
  background-image: url(../src/assets/why-bg.jpg);
}

.reasons {
  font-size: 36px;
  display: block;
  line-height: 1;


}
.separator {
  position: relative;
}

.separator::after {
  content: "";
  position: absolute;
  right: -20px;
  top: -20px;
  width: 1px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
}
.aboutUs-img {
  
  z-index: 1;
  margin-right: 0px;
}


.input-field {
  background-color: whitesmoke;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.input-field:focus {
  outline: none;
  border-color: #81d1f3;
  box-shadow: 0 0 5px rgba(127, 204, 252, 0.5);
}
.contact-us {
    padding: 45px 40px;
    padding-right: 70px;
    border-radius: 4px;
    background: white;
    box-shadow: 0px 30px 50px 0px rgba(1, 11, 60, 0.1);
    position: relative;
    z-index: 1;
}
.contact-info-text{
  text-align: justify;
}
.contact-info-text h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 7px;
}
.contact-info-text p {
  margin-bottom: 0;
}
.course-card {
    border-radius: 6px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
;
}
.card-img-top {
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.card-img-top:hover {
  transform: scale(1.05) rotate(2deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.accordion-item {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}
.accordion-header {
      margin-bottom: 0;
}
.card-body {
  padding: 1.25rem;
}
.lines {
    position: absolute;
    right: 0px;
    top: 1500px;
    z-index: 1;
    animation: swing 1s ease-in-out 1s forwards infinite alternate;
}
swing animation {
    transform: rotate(-4.20955deg);
}
.role {
  position: absolute;
    left: 100px;
    top: 50%;
    z-index: -1;
    animation: role-float 6s infinite alternate;
}
role-float  animation {
    transform: translate(0.369426px, -0.369426px) rotate(0deg) scale(1);
}
.book {
    position: absolute;
    left: 50%;
    top: 150px;
    z-index: -1;
    animation: book 6s infinite alternate;
}

book animation {
    transform: translate(29.8747px, -29.8747px) rotate(0deg) scale(1);
}